<template>
  <div class="ml-3 mt-4">
    <Formulario />
  </div>
</template>

<script>
  import Formulario from '../components/Formulario.vue'
  export default {
    name: "Form",
    components: {
      Formulario
    },  
  };
</script>