<template>
  <div class="home">
    <Form />
    <List />
  </div>
</template>

<script>
// @ is an alias to /src
import Form from '../views/Form.vue'
import List from '../views/List.vue'

export default {
  name: 'Home',
  components: {
    Form,
    List
  }
}
</script>
