<template>
  <div>
    <label style="color: black; margin-left: 17px;"><b> {{ msgEmptyTask }}</b></label>
    <div class="row">
      <div v-for="(task, index) in tasks" :key="index" class="col-xl-4 col-lg-3 col-md-4 col-sm-12 mt-3">
        <Card :title="task.subject" :description="task.description " :checkboxStatus="task.checkboxStatus" :task="task"
          :index="index" :arrayTask="tasks" />
      </div>
    </div>
  </div>
</template>

<script>
  import Card from '../components/Card.vue'
  export default {
    name: "List",
    components: {
      Card
    },
    data() {
      return {
        tasks: [],
        msgEmptyTask: "",
      };
    },

    created() {
      this.tasks = localStorage.getItem("tasks")
        ? JSON.parse(localStorage.getItem("tasks"))
        : [];

      this.msgEmptyTask =
        this.tasks.length > 0 ? "" : "Você não possui tarefas cadastradas!";
    },
  };
</script>