<template>
  <div>
    <div>
      <b-card footer-tag="footer">
        <b-card-text v-if="checkboxStatus == false" style="font-size: 24px;"><b>{{title}}</b></b-card-text>
        <b-card-text v-if="checkboxStatus == true" style="font-size: 24px;"><del><b>{{title}}</b></del></b-card-text>
        <b-card-text v-if="checkboxStatus == false">{{description}}</b-card-text>
        <b-card-text v-if="checkboxStatus == true"><del>{{description}}</del></b-card-text>
        <input style="margin-right: 10px; margin-top: 28px" type="checkbox" id="checkboxStatus" v-model="checkboxStatus"
          @change="concluirTarefa(task, index)" />

        <label><b>Tarefa Concluída</b></label>
        <template #footer>
          <img src="../img/editar.png" style="width: 30px; height: 30px;" variant="outline-secondary" class="mr-2" @click="editarTarefa(index)" />
          <img src="../img/lixeira.png" style="width: 30px; height: 30px;" variant="outline-secondary" class="mr-2" @click="excluirTarefa(task, index)" />
        </template>
      </b-card>
    </div>
    <b-modal v-model="modalShow" hide-footer title="Remover Tarefa">
      <div class="d-block text-left">
        Confirma a exclusão da tarefa?
      </div>
      <div class="mt-2 d-flex justify-content-end">
        <b-button variant="outline-secondary" class="mr-2" @click="fecharModal">Cancelar</b-button>
        <b-button variant="outline-danger" class="mr-2" @click="removerTarefa(task)">Deletar</b-button>
      </div>
    </b-modal>
  </div>
</template>

<script>
  import services from '../services/cardServices';
  import ToastMixin from "@/mixins/toastMixin.js";
  export default {
    name: 'Card',
    mixins: [ToastMixin],
    props: {
      title: '',
      description: '',
      task: '',
      index: '',
      modalShow: false,
      arrayTask: [],
      checkboxStatus: '',
    },

    methods: {

      concluirTarefa(task, index) {
        task.checkboxStatus = !task.checkboxStatus;
        services.concluirTarefa(task, index, this);
      },

      editarTarefa(index) {
        services.editarTarefa(this, index);
      },

      excluirTarefa(tasks, index) {
        services.excluirTarefa(tasks, index);
        this.modalShow = true;
      },

      fecharModal() {
        this.modalShow = false;
      },

      removerTarefa(task) {
        services.removerTarefa(this.task, this.arrayTask);
        this.showToast("success", "Sucesso!", "Tarefa Removida!");
        this.fecharModal();
      }
    }
  }
</script>