<template>
    <div>
        <b-form>
            <b-form-group label="Título" label-for="subject" label-class="font-weight-bold pt-0">
                <b-form-input id="subject" v-model="form.subject" type="text" placeholder="Exemplo: Ir na farmácia"
                    required autocomple="off" class="w-50">
                </b-form-input>
            </b-form-group>
            <b-form-group label="Descrição" label-for="description" label-class="font-weight-bold pt-0">
                <b-form-textarea id="description" v-model="form.description" type="text"
                    placeholder="Ex: preciso ir na academia" required autocomple="off" class="w-50">
                </b-form-textarea>
            </b-form-group>

            <p v-if="error != ''">
            <ul>
                <li>{{ error }}</li>
            </ul>
            </p>
            <b-button type="submit" variant="outline-primary" @click="salvarTarefa">Salvar</b-button>
        </b-form>
    </div>
</template>

<script>
    import services from '../services/formServices';
    import ToastMixin from "@/mixins/toastMixin.js";
    export default {
        name: 'Formulario',
        mixins: [ToastMixin],
        data() {
            return {
                form: {
                    subject: "",
                    description: "",
                    checkboxStatus: false,
                },
                error: '',
                methodSalvar: "new",
            };
        },
        methods: {
            salvarTarefa() {
                this.error = services.salvarTarefa(this);
                if (this.methodSalvar == "new") {
                     this.showToast("success", "Sucesso!", "Tarefa Criada!");
                }
                else {
                    this.showToast("success", "Sucesso!", "Tarefa Atualizada!");
                }
            }
        },
        created() {
            if (
                this.$route.params.index === 0 ||
                this.$route.params.index !== undefined
            ) {
                this.methodSalvar = "update";
                let tasks = JSON.parse(localStorage.getItem("tasks"));
                this.form = tasks[this.$route.params.index];
            }
        },
    }
</script>